/* navigation */

#navbar{
    flex-direction: column;
    padding-bottom: 20px;
}

#navbar ul{
    position: absolute;
    top: 5em;
}

#navbar ul li {
    font-size: 1rem;
}

#navbar ul li a {
    padding: 0px 10px;
    font-size: 1rem;
}

#logo img {
    height: 20%;
    width: 100%;
  }

/* home */

#home{
    padding: 0px 0px;
}

#home p{
    font-size: 1rem;
}

/* services */

.services-container {
    margin-top: 70px;
}

#services {
    margin: 4px;
    display: flex;
}

#services{
    flex-direction: column;
    overflow-x: hidden;
}

#services .box img{
    height: 276px;
}

/* client section */
#clients{
    overflow: hidden;
}

.clients img{
    height: 75%;
    width: 100%;
}

#client-section{
    height: 110px;
}


#client-section::before{
    height: 45%;
}
/* contact section */

/* Utitlity Classes */

.h-primary{
    font-size: 2rem;
}